.app-container {
}

.line {
  border-bottom: 0.5px solid rgb(238, 114, 114);
}

body {
  background-color: whitesmoke;
  //color: whitesmoke;
  color: rgb(28, 26, 26);
  width: 100%;
}

.headers {
  height: 300px;
}
