.navbar {
    background-color: $primary;
    height: 150px;
    display: flex;
    align-items: flex-start;
}

.button {
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px 15px;
    width: 80px;
    margin: 0 5px;
    color: $secondary
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0 20px;
    margin-top: 10px;
}

.navbar ul li {
    display: flex;
    align-items: center;
}

.nav-title {
    margin-right: 20px;
    font-size: 1.1rem;
}

.enabled {
    color: rgba(245, 245, 245, 0.597)
}

ul li span {
    font-weight: 600;
    margin-left: 3px
}
